header {
    margin-bottom: 100px;
    font-family: sans-serif;
    background: #d86753;
}

img {
    float: right;
}

.c_uno {
    float: left;
    width: 10%;
}

.c_dos {
    float: right;
    width: 10%;
}

hgroup.portada {
    text-align: center;
}

.titulo {
    margin-bottom: 80px;
    margin-top: 100px;
}

.presentado, .juanpablo, .ivan, .diego, .profe, .proyecto, .grado, .colegio, .lugar, .año{
    margin-bottom: 80px;
}

.introduccion, .contenido, .presentacion, .justificacion, .conceptual, .contextual, .teorico, .metodologico, .conclusiones, .bibliografia, .enlaces {
    background: #d86753;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    margin-left: 3.5%;
    width: 75%;
    background: #66bfc2;
}

h3 {
    margin-left: 3.5%;
    width: 50%;
    background: #c9aab2;
}

hgroup {
    margin-left: 10%;
}

li {
    margin-left: 4%;
    text-align: justify;
    width: 85%;
    font-size: large;
    line-height: 25px;
}

.programado {
    font-weight: bold;
    text-align: center;
    margin-top: 50px;
    color:gray;
}

body {
    background-image: url(img/Medellin.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

div {
    background-color: rgba(138, 187, 136, 0.75);
    padding-top: 80px;
    padding-bottom: 80px;
    width: 87%;
    margin: auto;
}

.autores {
    width: 80%;
}

p {
    font-size: large;
    text-align: justify;
    line-height: 25px;
}

.keywords {
    font-size: large;
}

footer {
    background-image: url(img/Colombia.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

* {
    font-family: sans-serif;
}